@import url('https://fonts.googleapis.com/css?family=Abel|Anton');


body{
    background-color:#F0F0F0;
    margin: 0;
    padding: 0;
}
*{
    padding-right:0;
    margin-right:0;
}

html, body {overflow-x: hidden;
}

h1{
    font-size: 64px;
    font-family: anton;
}

.wrapper{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 48px;
    font-family: anton;
}



h3{
    font-size: 40px;
    font-family: anton;
}

h4{
    font-size: 32px;
    font-family: anton;
}


h5{
    font-size: 28px;
    font-family: anton;
}

p{
    font-family: abel;
}

.btn-circle.btn-xs {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
    border: 8px solid white;
    color: white;
}

.btn-circle.btn-sm {
    width: 115px;
    height: 115px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
    border: 8px solid white;
    color: white;
}

.btn-circle.btn-md {
    width: 135px;
    height: 135px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
    border: 8px solid white;
    color: white;
}

.btn-circle.btn-lg {
    width: 150px;
    height: 150px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
    border: 8px solid white;
    color: white;

}

.btn-circle.btn-icon {
    width: 18px;
    height: 18px;
    /*padding: 10px 16px;*/
    border-radius: 25px;
    font-size: 6px;
    line-height: 1.33;
    color: black;
    text-align: center;

}

.test_height_md {
    height: 100px;
}

.test_height_sm {
    height: 200px;
}



.codeup-header{
    font-size: 4.25em;
}

.jumbotron {
    background-color: #F0F0F0;
    padding:0;
}

#logo_xs{
    position: relative;
    top: -100px;
}

#logo_sm {
    position: relative;
    top: -100px;
}

.col-md-offset-2:nth-child(1) {
    font-size: 2em;
}

.container-fluid{
    padding:0;
    margin:0;
}
.col-lg-4:nth-child(1) {
    font-size: 2em;
}

#logo_md {
    position: relative;
    top: -100px;
    left: 40px;
}

#logo_lg {
    display:inline;
    position: relative;
    top: -100px;
    left: 180px;
}

.orange {
    background-color: #e6563b;
}

.yellow {
    background-color: #eb9d3a;
}

.green {
    background-color: #7cb06c;
}

.blue {
    background-color: #00aba9;
}

#content{
    background-color:#F0F0F0;
}


.nav_pad {
    padding-top: 13px;
}

#test{
    width: 80%;
}

.hr_sm{
    color: black;
    background-color: black;
    border-bottom:2px solid lightgray;
    width: 70%;
    margin:0 auto;
    margin-bottom: 3%;
    margin-top: 2%;

}

.hr_md{
    color: black;
    background-color: black;
    border-bottom:2px solid lightgrey;;
    margin-bottom: 3%;
    margin-top: 2%;
}

.large_pics {
     height: 189px;
     width: 90%;
 }

.small_pics {
    height: 169px;
    width: 88%;
}

.the_last_pics_icons {
    width: 50px;
    padding-top: 10px;
    margin-right: 10px;
}

.twitter_icon {
    height: 20px;
    width: 20px;
}

.icon_pad{
    padding: 5px;
}

.icon_pad>h5{
    font-size: 8px;
    margin:0;

}

.h5-margin h5{
    margin-left: 15px;
}

.margin-bottom{
    margin-top:25px;
}

.margin_top_medium {
    margin-top: 15px;
}

.margin-right_sm {
    margin-right: 10px;
}

body > div.container-fluid > div.hidden-sm.hidden-md.hidden-lg.hidden-xl > div.row > div.col-xs-12.col-sm-2{
    height: 25px;
}

body > div.container-fluid > div.hidden-sm.hidden-md.hidden-lg.hidden-xl > div.row > div:nth-child(2) > div > div{
    margin-bottom:5%;
}

.btn-sm>h5{
    font-size: .8em;

}

.col-md-10>h5{
    font-size: 1.25em;
}

.col-lg-10>h5{
    font-size: 1.5em;
}

.positioned-row{
    position: relative;
    left: 20px;
}

body > div:nth-child(9) > div:nth-child(2) > div.col-md-3.h5-margin > div.row.margin-bottom > div{
    margin-top: 10%;
}
