@import url('https://fonts.googleapis.com/css?family=Abel|Anton');


body{
    background-color:#F0F0F0;
}

h1{
    font-size: 64px;
    font-family: anton;
}

h2{
    font-size: 48px;
    font-family: anton;
}

h3{
    font-size: 40px;
    font-family: anton;
}

h4{
    font-size: 32px;
    font-family: anton;
}


h5{
    font-size: 28px;
    font-family: anton;
}

p{
    font-family: abel;
}

.btn-circle.btn-xl {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
    border: 8px solid white;
    color: white;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.codeup-header{
    font-size: 4.25em;
}

.jumbotron {
    background-color: #F0F0F0;
}

#logo_xs{
    position: relative;
    top: -100px;
}

#logo_sm {
    position: relative;
    top: -100px;
}

.col-md-offset-2:nth-child(1) {
    font-size: 2em;
}

.col-lg-4:nth-child(1) {
    font-size: 2em;
}

#logo_md {
    position: relative;
    top: -100px;
    left: 40px;
}

#logo_lg {
    position: relative;
    top: -100px;
    left: 215px;
}

.orange {
    background-color: #e6563b;
}

.yellow {
    background-color: #eb9d3a;
}

.green {
    background-color: #7cb06c;
}

.blue {
    background-color: #00aba9;
}

#content{
    background-color:#F0F0F0;
}


.nav_pad {
    padding-top: 13px;
}
